/*Pulse effect originally authored by Nick Pettit - https://github.com/nickpettit/glide*/

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/*Change video - use full stops*/

#changeVideo { 
  font-size: 16px;
  height: 10px;
}
#headerStyle { 
  height: 10px;
  margin-top: 100px;
  width: 100%;
}
#submitButton { 
    width: 100%; //keep screen mobile-friendly
    background-color: #1cb8e8; //color of submit box
    border: 2px solid #cfe6ef; //include border around submit box
    font-size: 14px;
    transition-duration: 0.2s; //hover - included additional CSS for hover fxn
}
#instructions { 
  font-family: Times New Roman;
}
